<h1>You fell in love with :
    <%= thingVar %>
</h1>

<% if(thingVar === "Ken"){ %>
    <p>You Love the Best Man EVER!!!!</p>
<% } else { %>
    <p>You love a sap</p>
<% } %>

<p>P.S. this is the love.ejs file!</p>